body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

@media screen and (max-width:767px) {
	
}

@media screen and (min-width:768px) {
	
	#container {
		width: 1920px;
		height: 950px;
		font-family: 'Nanum Gothic', sans-serif;
	}
	
	#moving_imgs {
		position: absolute;
		right: 0;
		padding-right: 220px;
		padding-top: 820px;
	}
	
	@keyframes move_1 {
		100% {
			transform: translate(200px, -62px);
		}
	}
	
	@keyframes move_2 {
		100% {
			transform: translate(200px, -136px);
		}
	}
	
	@keyframes move_3 {
		100% {
			transform: translate(200px, -272px);
		}
	}
	
	@keyframes move_4 {
		100% {
			transform: translate(200px, -434px);
		}
	}
	
	@keyframes move_5 {
		100% {
			transform: translate(200px, -627px);
		}
	}
	
	#exp_text {
		font-size: 220%;
		display: block;
		width: 100%;
	}
	
	#input_box {
		display: block;
		text-align: center;
		position: relative;
		height: 90px;
		padding: 5px;
	}

	#input_form {
		display: inline-block;
		width: 800px; 
		height: 100px;
		padding-top: 10px;
		background: #4C4C4C;
	}

	#input_pay {
		text-align: left;
		display : inline-block;
		margin :0 auto;
		width: auto;
		height:70px;
		font-size: 55px;
		border: none;
		padding-top: 15px;
	}

	#input_ok {
		display: inline-block;
		width: 80px; 
		height: 85px;
		margin: 0; 
		border: 0;
		vertical-align: top;
		background: #4C4C4C;
		color: white;
		font-size: 20px;
		font-weight: bold;
		border-radius: 1px;#4C4C4C
		cursor: pointer;
	}

	#input_ok:hover {
		background: #353535;
	}

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input:focus {
		outline:2px solid #353535;
	}
	
	#client_position {
		
	}
	
	#result_statics {
		float: left;
		width: 30%;
	}
	
	#result_animation {
		float: right;
		height: inherit;
		width: 490px;
	}
	
	#result_animation img {
		width: inherit;
	}
}

#footer {
	background-color: #4c4c4c;
	padding-top: 1.3%;
	padding-left: 3%;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5%;
	z-index: 1;
}

#footer a {
	color: white;	
	text-decoration: none;
	font-size: 110%;
	cursor: default;
}