body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

@media screen and (max-width:767px) {
	
}

@media screen and (min-width:768px) {
	
	#container {
		width: 1920px;
		height: 920px;
		font-family: 'Noto Sans KR', sans-serif;
	}
	
	#exp_text {
		font-size: 220%;
		display: block;
		width: 100%;
		z-index: 2;
	}
	
	#input_box {
		display: block;
		text-align: center;
		position: relative;
		height: 90px;
		padding: 5px;
	}

	#input_form {
		display: inline-block;
		width: 800px; 
		height: 100px;
		padding-top: 10px;
		background: #4C4C4C;
	}

	#input_pay {
		text-align: left;
		display : inline-block;
		margin :0 auto;
		width: auto;
		height:70px;
		font-size: 55px;
		border: none;
		padding-top: 15px;
	}

	#input_ok {
		display: inline-block;
		width: 80px; 
		height: 85px;
		margin: 0; 
		border: 0;
		vertical-align: top;
		background: #4C4C4C;
		color: white;
		font-size: 20px;
		font-weight: bold;
		border-radius: 1px;#4C4C4C
		cursor: pointer;
	}

	#input_ok:hover {
		background: #353535;
	}

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type=number] {
		-moz-appearance: textfield;
	}

	input:focus {
		outline:2px solid #353535;
	}
	
	#exp_text {
		text-align: center;
	}
	
	#result_statics {
		float: left;
		width: 500px;
		margin-left: 5%;
		margin-top: 4%;
		font-size: 120%;
		background-color: #f1f3f4;
		border-radius: 40px 40px;
		padding: 1.7% 1.7% 1.7% 1.7%;
		color: #4c4c4c;
	}
	
	#result_animation {
		float: right;
		width: 490px;
	}
	
	#result_animation img {
		width: inherit;
	}
	
	#moving_imgs {
		position: absolute;
		right: 0;
		padding-right: 220px;
		padding-top: 800px;
	}
	
	@keyframes move_1 {
		100% {
			transform: translate(200px, -62px);
		}
	}
	
	@keyframes move_2 {
		100% {
			transform: translate(200px, -136px);
		}
	}
	
	@keyframes move_3 {
		100% {
			transform: translate(200px, -272px);
		}
	}
	
	@keyframes move_4 {
		100% {
			transform: translate(200px, -434px);
		}
	}
	
	@keyframes move_5 {
		100% {
			transform: translate(200px, -627px);
		}
	}
	
	
	#footer {
		background-color: #4c4c4c;
		padding-top: 1%;
		padding-left: 3%;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 4.2%;
		z-index: 1;
	}

	#footer a {
		color: white;	
		text-decoration: none;
		font-size: 110%;
		cursor: default;
	}
}

